html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.search_button{
  border-radius: 0
}

.gold {
  color: #EBC200;
}

.btn-outline-dark:focus {
  outline: none;
  box-shadow: none;
}

.btn-outline-dark:hover {
  background-color: rgb(248, 249, 250);
  color: black;
  text-decoration: underline;
  outline: none;
  box-shadow: none;
}

.btn-outline-dark {
  background-color: rgb(248, 249, 250);
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 72px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: white;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

#pandion_nav_text {
  color: #000;
  text-align: center;
}

#nav_links {
  width: 25%;
  text-align:end;
}

#logo-image {
  width: 25%;
}

.z1 {
  z-index: -1;
}
.z2 {
  z-index: -2;
}

.max_width_1080 {
  max-width:1080px;
}

.light_color {
  background-color: rgb(248, 249, 250);
}

.main_container {
  padding-top: 72px;
  height: 100%;
  overflow: hidden;
}

.test_con {
  padding-top: 72px;
}

.main_container2 {
  padding-top: 84.5px;
  max-height: 100vh;
}

.alert_container {
  position: absolute;
  padding-top: 120.5px;
  z-index: 9999;
}

.text_center{
  text-align: center;
  padding: auto;
}

.top_c {
 display: flex;
}
.inline {
  display: inline-block;
}

.video_container {
  display: flex;
  justify-content: center;
}

iframe {
  max-width: 900px;
  max-height: 400px;
}

.blue {
  color: #007bff!important;
}

.blue:hover:after{
  content:'(Logout)';
}

.gallery {
  width: 100%;
  height: auto;
}

.h500 {
  min-height: 500px;
}

.homeimage {
  width: auto;
  height: 100%;
}


/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

.coverbody {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}




.bg {
  /* The image used */
  background-image: url("https://images3.alphacoders.com/111/1117942.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h60 {
  height: 60%;
}


