{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="main_container2">
  <div class="container pt-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
      {% for post in post_list %}
      <div class="col">
        <div class="card mb-4 h500 overflow-auto">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title">{{ post.species }}</h5>
              </div>
              <div class="col text-end">
                <p class="card-text text-muted">{{ post.captured_Date }}</p>
              </div>
            </div>
            <p class="card-text text-muted h6 pb-1">{{ post.location}}, {{ post.state}}</p>
            <div class w-100>
              <img class="pb-1 gallery" src="{{ post.photo_Small.url }}">
            </div>
            <p class="card-text">{{post.details}}</p>
            <div class="position-absolute bottom-0 end-0 p-2">
              <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Full Resolution &rarr;</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}