{% extends "base.html" %}
{% block content %}
<div class="main_container2">
    <div class="container-md">
      


      <h4 class="text-center" >National Data & Rankings</h1>
      <div class="row row-cols-auto justify-content-center border-bottom p-2">
          <div class="col p-1">
            <div class="card h-100 text-center"" style="width: 9rem;">
              <img src="https://images.pexels.com/photos/1552617/pexels-photo-1552617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'eaglescore' %}" class="card-title">Eagle Score</a>
              </div>
            </div>
          </div>
          <div class="col p-1">
            <div class="card h-100 text-center"" style="width: 9rem;">
              <img src="https://images.pexels.com/photos/32307/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'topstates' %}" class="card-title">State Totals</a>
              </div>
            </div>
          </div>
          <div class="col p-1">
            <div class="card h-100 text-center"" style="width: 9rem;">
              <img src="https://images.pexels.com/photos/2098578/pexels-photo-2098578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'toplocations' %}" class="card-title">Top Locations</a>
              </div>
            </div>
          </div>
      </div>


      <h4 class="text-center p-2" >State Data: Top Locations by State</h1>
        <div class="row row-cols-auto justify-content-center"">
          {% for state, state2 in d.items %}
            <div class="col p-1">
              <div class="card h-100 text-center"" style="width: 9rem;">
                <img src="{{ state2.1 }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="{% url 'topstatelocations' state %}" class="card-title">{{ state2.0 }}</a>
                  <p>{{p.url}}</p>
                </div>
              </div>
            </div>
          
          {% endfor %}
        </div>

    </div>

  </div>


  {% endblock %}





