<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% include 'javascript.html' %}
{% block content %}
<div class="jumbotron main_container" style="overflow: auto;">
  <div class="container">
    <div class="row w-auto">
      <div class="col-sm pt-4">
        <div class="video_container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7nvCVS2TRRk?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
        </div>
      </div>
      <div class="col-sm pt-4">
        <div class="video_container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SrKkGqkQG6M?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm pt-4">
        <div class="video_container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZLelYERK4Jg?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm pt-4">
        <div class="video_container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7NFSAV15gpc?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}


