{% extends "base.html" %}
{% block content %}
<div class="container-fluid main_container px-0">
  <div class="light_color">
    <div class="row mx-auto">
      <div class="col-12 px-0">
        <button class="btn btn-outline-dark w-100 border-0 search_button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          <span><i class="bi bi-check2-square gold"></i></span> State Selection
        </button>
      </div>
    </div>
  </div>
  <div class="row h-100">
    <div class="col-lg-12 p-0">
      <div id="Google_Maps" style="height: 100%"></div>
      <script
      src="https://maps.googleapis.com/maps/api/js?key={{ Google_Maps_Key }}&callback=initMap&v=weekly"
      async defer
      ></script>
    </div>


  </div>

</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Species Selection</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="accordion accordion-flush" id="accordionFlushExample">
     
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Northeast
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            {% for state in northeast %}
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="{{ state.0 }}" name="{{ state.0 }}" value="{{ state.0 }}">
              <label class="form-check-label" for="{{ state.0 }}">{{ state.1 }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingfour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
            Midwest
          </button>
        </h2>
        <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            {% for state in midwest %}
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="{{ state.0 }}" name="{{ state.0 }}" value="{{ state.0 }}">
              <label class="form-check-label" for="{{ state.0 }}">{{ state.1 }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            South
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            {% for state in south %}
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="{{ state.0 }}" name="{{ state.0 }}" value="{{ state.0 }}">
              <label class="form-check-label" for="{{ state.0 }}">{{ state.1 }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            West
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            {% for state in west %}
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="{{ state.0 }}" name="{{ state.0 }}" value="{{ state.0 }}">
              <label class="form-check-label" for="{{ state.0 }}">{{ state.1 }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}